body {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}


/* this button style is used in profile builder progress  */

.nextbtns {
    width: 10%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0b125;
    box-shadow: 2px 2px 3px gray;
    border-color: gray;
    position: relative;
}
.nextbtns div {
    position: relative;
    z-index: 20;
    padding: 10%;
    font-weight: bold;
}

.stepDiv {
    position: absolute;
    width: 95%;
    background-color: rgb(242, 196, 79);
    /* background-color: #81ee1d; */
    height: 45%;
    top: 2%;
    left: 2%;
    z-index: 15;
}

/* build btns */
.buildbtns {
    width: 10%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #81ee1d;
    box-shadow: 2px 2px 3px gray;
    border-color: gray;
    position: relative;
}
.buildbtns div {
    position: relative;
    z-index: 20;
    padding: 10%;
    font-weight: bold;
}
.buildstepDiv {
    position: absolute;
    width: 95%;
    background-color: #dcf87e;
    /* background-color: #81ee1d; */
    height: 45%;
    top: 2%;
    left: 2%;
    z-index: 15;
}


/* // all icon buttons to add and reset  .all-btns */

.all-btns {
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    margin-left: 2%;
    border-radius: 5px;
    width: 15%;
    background: #81ee1d;
    margin-top: 2%;
    cursor: pointer;
    position: relative;
}

.all-btns::before {
    content: 'a';
    width: 98%;
    position: absolute;
    background-color: #c1f561;
    height: 50%;
    left: 1%;
    top: 3%;
    color: transparent;
    border-radius: 5px;
}

.all-btns2 {
    position: relative;
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    margin-left: 2%;
    border-radius: 5px;
    width: 15%;
    background: rgb(248, 35, 35);
    margin-top: 2%;
    cursor: pointer;
}

.all-btns2::before {
    content: 'a';
    width: 98%;
    position: absolute;
    background-color: rgb(250, 69, 69);
    height: 50%;
    left: 1%;
    top: 3%;
    color: transparent;
    border-radius: 5px;
}

@media (max-width:820px) {
    .nextbtns {
        width: 20%;
    }
}

@media (max-width:520px) {
    .all-btns {
        width: 30% !important;
        margin-left: 5% !important;
    }
    .all-btns2 {
        width: 30% !important;
        margin-left: 5% !important;
    }
}